* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }
  #container {
    text-align: center;
  }
  .form-container {
    display: flex;
    padding: 0 15px;
    margin: 20px 0 20px 0;
    justify-content: space-evenly;
  }
  select {
    width: 100px;
    height: 30px;
  }
  button {
    width: 100px;
    height: 30px;
    background-color: crimson;
  }
  p,
  ul,
  li {
    color: black;
  }
  p {
    margin: 20px 0 20px 0;
  }
  h4 {
    margin: 20px 0 20px 0;
  }