* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Museo Sans', sans-serif;
  }
  
  .hide {
    display: none !important;
  }
  
  .container {
    background-color: #3fb498;
    padding: 60px 0 120px;
  }
  
  .sub-container {
    width: calc(100vw - 80px);
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    font-weight: 700;
    color: #004899;
    text-align: center;
    max-width: 1280px;
    padding: 0 40px;
    font-size: 27px;
  }
  
  .citation-slider {
    display: flex;
    width: 999999px;
    padding-top: 40px;
    position: relative;
    left: 0;
    transition: left 500ms;
  }
  
  .citation-slider__nav-btn {
    position: absolute;
    bottom: 35px;
    left: -15px;
    background-color: transparent;
    outline: none;
    color: transparent;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    border: solid 15px;
    border-color: transparent #ffdd00 transparent transparent;
  }
  
  .citation-slider__next {
    left: unset;
    right: -15px;
    border-color: transparent transparent transparent #ffdd00;
  }
  
  .citation-slider__item {
    width: calc(min(1200px, 100vw - 80px) / 3);
    padding: 0 40px;
  }
  
  @media screen and (max-width: 1020px) {
    .citation-slider__item {
      width: calc((100vw - 80px) / 2);
    }
  }
  
  @media screen and (max-width: 680px) {
    .citation-slider__item {
      width: calc(100vw - 80px);
    }
  }
  
  .citation-slider__item-title {
    color: #ffdd00;
    font-size: 26px;
    font-style: italic;
    text-align: center;
  }
  
  .citation-slider__item-name {
    font-size: 16px;
    color: #004899;
    text-align: center;
    padding-top: 10px;
  }
  
  .citation-slider__item-role {
    font-size: 14px;
    color: #004899;
    text-align: center;
  }